.container {
border: 10px solid rgb(144, 247, 247);
margin: 10px;
}

h1 {
  margin:10px;
  padding:10px;
  font-family: 'Inter';
  color:#f8ca96;
  font-size: 40px;
  line-height: 48px;

}
h1:hover {
  color:azure;
}